# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Models & Large Files
models/
whisper-finetuned-stutter*/
*.onnx
*.bin

# Application Data
generated_audios/
uploads/
test_data/

# Logs & OS
*.log
.DS_Store