# Core AI & Agent
agno==1.2.6
ollama

# Speech Recognition
faster-whisper
torch

# Text to Speech
kokoro-onnx==0.4.7
edge-tts
misaki[en]
phonemizer-fork==3.3.1
espeakng-loader>=0.2.4
sounddevice>=0.5.1
soundfile>=0.13.0

# Web Framework
fastapi
uvicorn
python-multipart
websockets
jinja2

# Data & Math
numpy
scipy

# Tools & Utilities
PyYAML
googlesearch-python
pycountry
wikipedia
arxiv
pypdf==5.4.0
num2words
spacy
colorlog>=6.9.0
onnxruntime>=1.20.1